*.exe
*.o
*.i
*.elf
*.gba
*.sgm
*.sa1
*.ss[0-9]
*.sg1
*.1bpp
*.4bpp
*.8bpp
*.gbapal
*.lz
*.rl
*.latfont
*.hwjpnfont
*.fwjpnfont
sound/**/*.bin
sound/songs/midi/*.s
tools/agbcc
*.map
*.ld
*.bat
*.dump
*.sa*
Thumbs.db
build/
.DS_Store
*.ddump
.idea/
porymap.project.cfg
.vscode/
*.a
.fuse_hidden*
*.sna
*.diff
*.sym
ability notes
abilityAndItemChanges.txt
credits.txt
designs.txt
littlecup gifts
log.txt
mgba.sh
pokeCommunityPost.txt
pokeemerald_modern-0.png
pokeemerald_modern-1.png
pokeemerald_modern-2.png
pokeemerald_modern-3.png
pokemon balance notes
room designs
.gitignore
reddit post.txt
